@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
  --ff-ss: Montserrat;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-normal: 400;

  --fz-title: 5rem;
  --fz-subtitle: 1.25rem;
  --fz-lg: 1.5rem;
  --fz-md: 1.2rem;
  --fz-sm: 1rem;

  --cl-light: #fff;
  --cl-dark: #222;
  --cl-gray: #999;
  --cl-gray-dark: #555;
  --cl-primary: rgb(48, 37, 202);
  --cl-accent: rgb(218, 63, 179);
}

@mixin media-lg {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 1400px) {
    @content;
  }
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
button {
  font: inherit;
  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }
}

.sr-only:not(:focus):not(:active) {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

body {
  padding: 0;
  font-family: var(--ff-ss), Arial, Helvetica, sans-serif;
}

.App {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 1.2rem;
  position: relative;
  // App grid layout
  display: grid;
  grid-template-rows: 400px 1fr minmax(3em, 10em);

  &__header-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
    width: 100vw;
    height: 400px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://unsplash.it/800');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      filter: grayscale(100%) brightness(0.8);
    }
  }
  // Header =====================================
  &__header {
    background-color: rgba(white, 0.3);
    backdrop-filter: grayscale(90%);
    padding: 2em;
    width: 100%;
    height: 100%;

    // App title and subtitle ====================
    &__title {
      display: grid;

      h1 {
        font-size: var(--fz-title);
        font-weight: var(--fw-black);
        text-align: center;
        color: var(--cl-light);
        grid-column: 1 / -1;
        text-shadow: 3px 1px rgba(0, 0, 0, 0.1);
      }
      // Subtitle: feat. Redux toolkit
      p {
        justify-self: center;
        transform: translateX(10vw);
        width: max-content;
        display: inline-block;
        font-size: var(--fz-subtitle);
        font-weight: var(--fw-bold);
        color: var(--cl-accent);
        font-style: italic;
        background: rgba(0, 0, 0, 0.7);
        padding: 0.2em 0.5em;
        @include media-lg() {
          position: absolute;
          transform: translateX(0);
          top: 1em;
          right: 1em;
        }
        text-align: center;
      }
    }

    // Main todo form =====================
    form {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 3em;

      input {
        margin: auto;
        width: 90%;
        max-width: 20em;
        display: block;
        grid-column: 1 / -1;
        border: none;
        border-radius: 100vw;
        padding: 0.5em 1.5em;
        font-size: var(--fz-lg);
      }
      button {
        min-width: max-content;
        width: 80%;
        max-width: 10em;
        margin: auto;
        grid-column: 3;
        display: block;
        border: none;
        background: var(--cl-primary);
        color: var(--cl-light);
        font-size: var(--fz-lg);
        padding: 0.5em 1.25em;
        margin-top: 1em;
        box-shadow: 6px 6px rgba(0, 0, 0, 0.8);
        transition: filter 250em ease;
        &:hover {
          filter: brightness(1.4);
        }
        &:active {
          position: relative;
          filter: brightness(1.2);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
          left: 2px;
          top: 2px;
        }
      }
    }
  }

  //Body layout ===========================
  &__body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 300px;
    max-width: 1200px;
    margin: auto;
  }

  // Todo list ================================
  &__list {
    grid-column: 2;

    justify-self: center;
    @include media-lg {
      grid-column: 1;
      font-size: var(--fz-subtitle);
      margin: 2em;
      padding: 1em;
      justify-self: center;
    }
    li {
      &.complete {
        text-decoration: line-through;
        opacity: 0.5;
      }
      cursor: pointer;
      position: relative;
      &:hover {
        color: var(--cl-accent);
      }
      &.active {
        animation: rise 1s forwards cubic-bezier(0, 0.93, 0.58, 1);
        @keyframes rise {
          0% {
            opacity: 0;
            left: 0;
          }
          100% {
            opacity: 0.8;
            left: 2em;
            color: var(--cl-accent);
          }
        }
      }
    }
  }
  // Selected todo info & Actions ================
  &__todo-info {
    grid-column: 2;
    @include media-lg {
      grid-column: 3;
      align-self: start;
      font-size: var(--fz-lg);
      margin: 2em;
      justify-self: center;
    }
    margin: 1.5em auto;
    display: grid;
    justify-items: center;
    h2 {
      font-weight: normal;
      font-size: var(--fz-md);
      color: var(--cl-gray-dark);
      margin: 0;
      padding: 0.5em 0;
      border-bottom: 4px solid var(--cl-accent);
    }

    // Selected todo display ===============
    .todo-desc,
    .empty-state {
      font-weight: bold;
      font-size: var(--fz-lg);
      padding: 1em;
      min-height: 1em;
    }
    .empty-state {
      opacity: 0.5;
    }

    // Todo Actions =========================
    .todo-actions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5em;
    }
    // These button rules apply both for actions and form
    button {
      border: none;
      background: transparent;
      transition: all 250ms ease;
      &:hover {
        color: var(--cl-accent);
      }
    }
    // Edit todo form =========================
    form {
      margin-top: 1em;

      display: grid;
      gap: 1em;
      grid-template-columns: repeat(2, 1fr);
      align-self: start;
      animation: appear 500ms ease;
      @keyframes appear {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
      input {
        width: 100%;
        border: 1px solid var(--cl-gray);
        grid-column: 1 / -1;
        padding: 0.5em 1.5em;
        animation: scroll-out 500ms cubic-bezier(0.58, -0.25, 0.42, 1.26);
        animation-fill-mode: forwards;
        @keyframes scroll-out {
          0% {
            width: 0;
            border: 1px solid var(--cl-gray);
          }
          100% {
            width: 100%;
            border: 1px solid var(--cl-accent);
          }
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  // Footer : Todos updated count ===================
  &__counter {
    --height: 1.5em;
    transition: bottom 300ms ease-in-out;
    //TODO: Implement sliding footer - show only on scroll-up
    &--slide-down {
      bottom: calc(-1 * var(--height));
    }
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--height);
    background: var(--cl-primary);
    color: var(--cl-light);
    display: grid;
    place-items: center;
    font-size: var(--fz-sm);
    p {
      text-align: center;
    }
    @media (min-height: 1000px) {
      grid-row: 3;
      font-size: var(--fz-sm);
      background: var(--cl-light);
      height: 5em;
      background-color: transparent;
      color: var(--cl-primary);
    }
  }
}
