@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
  --ff-ss: Montserrat;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-normal: 400;

  --fz-title: 5rem;
  --fz-subtitle: 1.25rem;
  --fz-lg: 1.5rem;
  --fz-md: 1.2rem;
  --fz-sm: 1rem;

  --cl-light: #fff;
  --cl-dark: #222;
  --cl-gray: #999;
  --cl-gray-dark: #555;
  --cl-primary: rgb(48, 37, 202);
  --cl-accent: rgb(218, 63, 179);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
button {
  font: inherit;
  cursor: pointer;
}

.sr-only:not(:focus):not(:active) {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

body {
  padding: 0;
  font-family: var(--ff-ss), Arial, Helvetica, sans-serif;
}

.App {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 1.2rem;
  position: relative;

  .background {
    position: relative;
    width: 100vw;
    height: 400px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://unsplash.it/800');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      filter: grayscale(100%) brightness(0.8);
    }
  }

  &__header {
    background-color: rgba(white, 0.3);
    backdrop-filter: grayscale(90%);
    padding: 2em;
    width: 100%;
    height: 100%;

    &__title {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      h1 {
        font-size: var(--fz-title);
        font-weight: var(--fw-black);
        text-align: center;
        color: var(--cl-light);
        // filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        grid-column: 1 / -1;
      }
      p {
        grid-column: 4;
        width: max-content;
        display: inline-block;
        font-size: var(--fz-subtitle);
        font-weight: var(--fw-bold);
        color: var(--cl-accent);
        font-style: italic;
        background: rgba(0, 0, 0, 0.7);
        padding: 0.2em 0.5em;
        @media (min-width: 1000px) {
          position: absolute;
          top: 1em;
          right: 1em;
        }
        text-align: center;
      }
    }

    form {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 3em;
      input {
        margin: auto;
        max-width: 100%;
        display: block;
        grid-column: 1 / -1;
        border: none;
        border-radius: 100vw;
        padding: 0.5em 1.5em;
        font-size: var(--fz-lg);
      }
      button {
        grid-column: 3;
        display: block;
        border: none;
        background: var(--cl-primary);
        color: var(--cl-light);
        font-size: var(--fz-lg);
        padding: 0.5em 1.25em;
        margin-top: 1em;
        box-shadow: 6px 6px rgba(0, 0, 0, 0.8);
        transition: filter 250em ease;
        &:hover {
          filter: brightness(1.4);
        }
        &:active {
          position: relative;
          filter: brightness(1.2);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
          left: 2px;
          top: 2px;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 300px;
  }

  &__list {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    @media (min-width: 1000px) {
      grid-column: 2 / 4;
      font-size: var(--fz-subtitle);
      margin: 2em;
      padding: 1em;
    }
    li {
      &.complete {
        text-decoration: line-through;
        opacity: 0.5;
      }
      cursor: pointer;
      position: relative;
      &:hover {
        color: var(--cl-accent);
      }
      &:active {
        animation: rise 500ms linear;
        @keyframes rise {
          0% {
            opacity: 1;
            bottom: 0;
          }
          100% {
            opacity: 0;
            bottom: 1em;
          }
        }
      }
    }
  }
}

.App__todo-info {
  @media (min-width: 1000px) {
    grid-row: 1;
    grid-column: 4 / -1;
    font-size: var(--fz-lg);
    margin: 2em;
  }
  grid-row: 2;
  grid-column: 1 / -1;
  margin: 1.5em auto;
  display: grid;
  justify-items: center;
  h2 {
    font-weight: normal;
    font-size: var(--fz-md);
    color: var(--cl-gray-dark);
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 4px solid var(--cl-accent);
  }
  .todo-desc,
  .empty-state {
    font-weight: bold;
    font-size: var(--fz-lg);
    padding: 1em;
    min-height: 1em;
  }
  .empty-state {
    opacity: 0.5;
  }

  button {
    border: none;
    background: transparent;
    transition: all 250ms ease;
    &:hover {
      color: var(--cl-accent);
    }
  }

  form {
    margin-top: 1em;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    animation: appear 500ms ease;
    @keyframes appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
    input {
      width: 100%;
      border: 1px solid var(--cl-gray);
      grid-column: 1 / -1;
      padding: 0.5em 1.5em;
      animation: scroll-out 500ms cubic-bezier(0.58, -0.25, 0.42, 1.26);
      animation-fill-mode: forwards;
      @keyframes scroll-out {
        0% {
          width: 0;
          border: 1px solid var(--cl-gray);
        }
        100% {
          width: 100%;
          border: 1px solid var(--cl-accent);
        }
      }
    }
  }
}

.todo-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

footer {
  text-align: center;
  opacity: 0.6;
  font-size: var(--fz-sm);
  margin: 2em;
}
